/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.couleurAChanger {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.gradient {
    width: 100%;
    height: 50px;
    border: 1px solid black;
}

#gradientGD {
        background: linear-gradient(to right, white, black);
      }
